#mapid { /*#id or .class*/
    height:300px;
}

#panel {
    width: 30%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 55%;
}

.step {
	width: 20%;
}

.step img {
	width: 100%;
}


#forward {
    float: right;
}

#reverse {
    float: left;
}